@use "../base/variables" as *;
@use "../base/functions" as *;
@use "../base/mixins" as *;

.plane {
  width: 100%;
  height: 100svh;
}

.mv {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
  filter: grayscale(100%);
}