@use "../base/variables" as *;
@use "../base/functions" as *;
@use "../base/mixins" as *;

.mv {
  display: flex;
  align-items: center;
  gap: rem(80);
  width: 100%;
  height: 100vh;
}

.mv__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}